.header{
    display: inline-flex;
    margin: 0;
    padding: 20px;
    width: 95%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-img {
    border-radius: 50%;
    height: 70px;
    width: auto;
}   

.header-text {
    font-size: 40px;
    font-weight: 800;
}